body{
    background-image: url(./pic13.jpg);
    width: 100%;
    height: auto;
}
.container-fluid{
    margin-top: 20px;
    background-image: url(./pic12.jpg);
    width: 1100px;
    height: 1000px;
    box-shadow: 10px 20px 10px black;
}
.side-box1{
    background: linear-gradient(#000428 , #004e92);

    width: 300px;
    height: 1000px;
    border: 2px  ridge white;
    box-shadow: 10px 20px 10px rgb(54, 7, 7);
}
.side-box2{
    height: 1000px;
    width: 800px;
    background-color: white;
}
.head1{
    width: 100%;
    background: linear-gradient(#000428 , #004e92);

    text-align: center;
    border: 2px solid white;
}
span{
    color: darkgoldenrod;
}
h1{
    color: rgb(243, 242, 242);
    font-family: 'Titan One', cursive;
    font-size: 35px;
    margin-top: 8px;
    text-shadow: 2px 2px 2px rgb(99, 65, 143);
}
.sub{
    border: 1px solid rgb(165, 155, 155);
    background-color:  rgb(179, 156, 100);
    
}

h4{
    margin-top: 5px;
    text-shadow: 5px 5px 5px rgb(7, 33, 80);
    font-family: 'Rubik Puddles', cursive;
    color: rgb(245, 248, 250);
}
.image1{
    border: 10px ridge white;
    margin-top: 10px;
    height: 220px;

}

img{
    width: 200px;
    height: 200px;
    border: 20x solid white;
   margin-left: 10px;
   border: 5px solid white;
   border-radius: 10px;
}
h3{
    color: darkgoldenrod;
text-align: center;
    text-shadow: 2px 2px 2px rgb(12, 12, 12);

}
#body1{
    width:200px ;
    height: 100px;
}
#a{
    width: 300px;
    height: 40px;
    border: 2px solid darkgoldenrod;
    border-radius: 10px;
    margin-top: 40px;
}
#a1,#b1{
    width:700px ;
    height: 120px;
    border:1px solid darkgoldenrod ;
    margin-top: 20px;
}
h5{
    text-shadow: 2px 2px 2px rgb(163, 159, 106);
}
#b{
    width:500px ;
    height: 40px;
    border:2px solid darkgoldenrod ;
    margin-top: 20px;
    border-radius: 10px;

}
.scnd{
    margin-left: 100px;
    margin-top: 20px;
    background-image: url(./pic12.jpg);
    width: 1100px;
    height: 1000px;
    box-shadow: 10px 20px 10px black;
}
#c1{
    width:700px ;
    height: 180px;
    border:1px solid darkgoldenrod ;
    margin-top: 20px;

}
#pro{
    color: black;
    text-align: left;
    font-family: 'Titan One', cursive;
    text-shadow: 1px 1px rgb(240, 238, 238);
}
